// Fonts
$primaryFont: 'Museo 300', sans-serif;
$boldFont: 'Museo 700';
$secondaryFont: Verdana, Geneva, sans-serif;
$baseFontSize: 16px;
$baseFontColor: #4c4b4f;

// Colours
$primary: #535353;
$secondary: #943616;
$tertiary: #cfab2f;
$quarternary: #d13c3c;

$lightgrey: #f1f5f7;
$white: #FFFFFE; 
$text: $baseFontColor;
$border: darken($lightgrey, 5%);
